section.feature{
    background: @white;
    .content{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        padding: 6em 0;
        &_item{
            flex: 1;
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 1rem;
            @media(max-width: @w2) {
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
            }
            &-img{
                width: 100%;
                @media(max-width: @w3) {
                    display: none;
                }
                img{
                    width: 5em;
                    margin: 0 ;
                    object-position: left;
                }
                @media(max-width: @w2) {
                    width: 8em;
                    img{
                        width: 5em;
                        margin: auto;
                    }
                }
            }
            &-desc{
                color: @blue-dark;
                h3{
                    margin: .5em 0 .8em;
                }
                p{
                    color: @blue-opacity;
                }
                @media(max-width: @w2) {
                    text-align: left;
                    width: 80%;
                    h3{
                        margin: .4em 0;
                    }
                }
                @media(max-width: @w3) {
                    width: 100%;
                }
            }
        }
        @media(max-width: @w2) {
            flex-direction: column;
        }
        @media(max-width: @w3) {
            padding: 1em 0;
        }
    }
}