section#information{
    .content{
        width: 100%;
        min-height: 17em;
        flex-direction: row;
        margin: 0;
        &_img{
            width: 50%;
            min-height: 17em;
            background: url(../img/features.jpg) no-repeat center 100%;
            background-size: cover;
        }
        &_desc{
            min-height: 17em;
            width: 50%;
            padding: 2rem;
            background: #3F6184;
            .slider{
                .flex;
                padding: 1em 2em;
                @media(max-width: @w4){
                    padding: 1em 0;
                }
                div{
                    min-height: 10rem;
                    color: @white;
                }
            }
        }
        @media(max-width: @w3) {
            &_img{
                width: 100%;
            }
            &_desc{
                width: 100%;
            }
        }
    }
}