section.product{
    height: 33em;
    background: @blue-light;
    background: url(../img/fromsite/showcase-bg-fixed.jpg) no-repeat center fixed;
    background-size: cover;
    .trs;
    &.inverse{
        /* background: url(../img/fromsite/showcase-bg-fixed.jpg) no-repeat center fixed /cover; */
        border-top: 10px solid white;
        .content{
            &_desc{
                color: @white;
                order: 1;
                position: relative;
                left: 5em;
                right: 0;
                @media(max-width: @w1){
                    position: unset;
                    right: unset;
                    top: unset;
                }
            }
            &_phone{
                order: 2;
            }
        }
    }
    .content{
        .trs;
        &_phone{
            width: 22em;
            height: 38em;
            display: flex;
            padding: 0;
            position: relative;
            background: url(../img/burger.gif) no-repeat center /65%;
            .trs;
            @media(max-width: @w3){
                background-size: 54%;
                height: 32rem;
            }
            @media(max-width: @w4){
                background-size: 80%;
                height: 38rem;
            }
            @media(max-width: @w5){
                background-size: 65%;
                height: 28rem;
            }

            position: relative;
            top: 4em;

            .phone{
                flex: 1;
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;
                background: url(../img/fromsite/phone.png) no-repeat center / contain;
                @media(max-width: @w4){
                    background: none;
                }
            }
        }
        &_desc{
            width: 50%;
            padding: 1em 0;
            text-align: center;
            color: @white;

            position: relative;
            right: 5em;
            top: 2em;

            display: flex;
            flex-direction: column;
            justify-content: center;
            &-header{
                font-size: 2em;
                margin: 0.5em 0;
            }
            &-more{
                font-size: 1.2em;
                margin: 1em 0;
            }
            @media(max-width: @w1){
                position: unset;
                right: unset;
                top: unset;
            }
        }
    }
    @media(max-width: @w3){
        height: auto;
        .content{
            flex-direction: column;
            align-items: center;
            &_desc{
                order: 1;
                width: auto;
            }
            &_phone{
                order: 2;
                top: 0;
            }
        }
    }
}