/* Первая страница сайта */
section#top{
    height: 100vh;
    width: 100%;
    background: linear-gradient(0deg,
        rgba(255, 255, 255,0),
        rgba(255,255,225,0.2)),
        url(../img/bg-2.jpg) no-repeat center fixed;
    background-size: cover;
    .main{
        background: linear-gradient(to bottom,
            rgba(255, 255, 255, .7) 0%,
            rgba(255, 255, 255, 0.1) 30%),
        url(../img/texture.png);
        .flex;
        height: 100%;
        width: 100%;
        &_content{
            padding: 5rem 0;
            align-items: flex-start;
            flex-direction: column;
            &-headers{
                h1{
                    margin: .5em 0;
                }
                color: @white;
                @media(max-width: @w4) {
                    h1{
                        font-size: 2.2em;
                    }
                    h2{
                        font-size: 1.3em;
                    }
                }
            }
            &-buttons{
                margin: .5em 0;
                .btn{
                    margin-left: 0;
                }
                @media(max-width: @w4) {
                    display: flex;
                    justify-content: space-between;

                    width: 100%;
                    .btn{
                        padding: .7em 2.5em;
                        margin: 0;
                    }
                }
            }
        }
    }
}