/* Стилизация кнопок */
.btn{
    .trs;
    transition-duration: .4s;
    margin: 1em;
    padding: .6em 1.4em;
    font-size: 1.2em;
    position: relative;
    color: @blue-link;
    background: fade(@white, 80%);
    border: none;
    overflow: hidden;
    display: inline-block;
    &:before{
        content: "";
        .trs;
        width: 7rem;
        height: 1rem;
        transform: rotate(-45deg);
        position: absolute;
        right: 10em;
        opacity: 0;
        background: @white;
    }
    &:hover{
        cursor: pointer;
        background: @blue-light;
        &::before{
            opacity: 1;
            right: -10em;
        }
    }
    @media(max-width: @w4){
        margin: .6em;
        padding: .6em 1.2em;
        font-size: 1em;
    }
    &.dark{
        background: @blue-light;
        &:hover{
            background: @white;
        }
        &::before, &::after{
            border-color: @blue-light;
        }
    }
    &.large{
        font-size: 1.2em;
        padding: .8em 3.5em;
        border: 1px solid lighten(@white, 10%);
        &:before{
            content: "";
            transition: all .4s;
            width: 10rem;
            height: 3rem;
            right: 11rem;
            top: 0;
            opacity: 0;
            background: @white;
        }
        &:hover{
            cursor: pointer;
            background: @blue-light;
            color: @blue-link;
            &::before{
                opacity: 1;
                right: -12rem;
            }
        }
        @media (max-width: @w4) {
            font-size: 1.15em;
            padding: .7em 3em;
        }
    }
    &.empty{
        background: none;
        color: @white;
        border: 1px solid lighten(@white, 10%);
        &:before{
            content: "";
            transition: all .4s;
            background: @white;
        }
        &:hover{
            cursor: pointer;
            background: @blue-light;
            color: @blue-link;
        }
    }
}