/* Шрифты */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');


/* Переменные */
@white: #fff;
@text: #333;
@text-light: lighten(@text, 15%);
@blue-1: #1533AD;
@blue-light: lighten(@blue-1, 55%);
@blue-2: #0969A2;
@blue-3: #6F83D6;

@blue-dark: darken(#24374b, 10%);
@blue-link: #4b98a9;
@blue-opacity: #778899;

@w1: 1300px;
@w2: 1100px;
@w3: 900px;
@w4: 700px;
@w5: 500px;

@Roboto: 'Roboto';

/* Основные стили */
html, body{
    width: 100%;
    height: 100%;
}
body{
    overflow-x: hidden;
    font-family: @Roboto, 'Arial';
    font-size: 18px;
    color: @text-light;
    @media(max-width: @w1) {
        font-size: 16px;
    }
    a{
        color: @text;
        text-decoration: none;
    }
    *{
        box-sizing: border-box;
        outline: none;
        &:hover, &:link, &:visited, &:focus{
            outline: none;
        }
    }
    p{
        line-height: 1.4em;
    }
    h1{
        font-size: 2.7em;
    }
    h2{
        font-size: 2em;
        margin: 10px 0 20px;
    }
    h3{
        font-size: 1.4em;
        line-height: 1.4em;
    }
    @media(max-width: @w4){
        h1{
            font-size: 2.4em;
        }
        h2{
            font-size: 1.7em;
            line-height: 1.2em;
        }
        h3{
            font-size: 1.2em;
            line-height: 1.2em;
        }
        p{

        }
    }
}
.trs{
    transition: all .2s;
}
.outline{
    outline: 1px solid lighten(red, 30%);
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}