/* Навигационное меню */
.top{
  position: relative;
  &.wr{
    position: absolute;
    top: 0;
    width: 100%;
    .flex;
  }
  .nav{
    display: flex;
    display: none;
    a{
      padding: 1em 2em;
      font-size: 1.3em;
      .trs;
      &:hover{
        background: fade(@white, 60%);
      }
    }
  }
}