/* .container{
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}
.parallax {
    display: flex;
    flex: 1 0 auto;
    position: relative;
    z-index: -1;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    transform: translateZ(-1px) scale(2);
    background: url(https://www.toptal.com/designers/subtlepatterns/patterns/sakura.png);
        background: linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 225, 0.1)), url(../img/bg-2.jpg) no-repeat center / cover;
    background-color: rgb(250,228, 216);
} */
