section{
    width: 100%;
    min-height: 17em;
    .flex;
    @media(max-width: @w2) {
        height: auto;
    }
    .content{
        .trs;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        margin: 2em 10%;
        @media(max-width: @w1) {
            width: 95%;
        }
        @media(max-width: @w2) {
            margin: 2em 5%;
        }
    }

    .slider{
        text-align: center;
        h3{
            margin: 10px 0 20px;
        }
        p{
            &::before{
                content: '-';
                margin-right: 5px;
            }
        }
    }
    .slick{
        &-slide{
            .flex;
        }
        &-dots{
            bottom: 2em;
        }
    }
}